<h2>Hola, <%= @user.name %>!</h2>

<p id="notice"><%= notice %></p>


<%= link_to 'New Post', new_post_path %>

<BR><BR>
  

  <h3 class="blockquote-title">Tus mensajes nuevos</h3>
  
  <% @posts.each do |post| %>
    <% 
    #leidos = @user.prueba.split(', ')
    #if leidos.include? post.id.to_s 
    #else %>
      <BR>
      <blockquote>
        <p class="blockquote-content">
        <%= post.user.name %>: <BR>
        <%= post.text %> <BR>

        <%= form_for(@user) do |f| %>

            <%= f.label :name %>
            <%= hidden_field_tag(:name, post.id) %>
            
            <%= f.submit "Mark as read", class: "btn btn-primary"%>
          </div>
        <% end %>    
        </p>
      </blockquote>
    <% #end %>
  <% end %>
