<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, placeholder: "Compose new message..." %>
  </div>
  
  
  
    <h4>Expires after:</h4> <h6>(default: Expires after 1 hour)</h6>
    <div class="grid-x grid-padding-x">
      <div class="cell small-1">
        <%= label_tag(:days, "Days:") %> 
        <%= text_field_tag(:days) %>
      </div>
      <div class="cell small-1">
        <%= label_tag(:hours, "Hours:") %>
        <%= text_field_tag(:hours) %>
      </div>
      <div class="cell small-1">
        <%= label_tag(:minutes, "Minutes:") %>
        <%= text_field_tag(:minutes) %>
      </div>
      <div class="cell small-1">
        <%= label_tag(:seconds, "Seconds:") %>
        <%= text_field_tag(:seconds) %>
      </div>
    </div>
  
  <BR>    

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
