<% if user_signed_in? %>

  <BR><BR>
  
  <h2>Hi, <%= @user.name %>!</h2>

  <p id="notice"><%= notice %></p>
  
  <%= link_to 'New Post', new_post_path, class: "button alert" %>
  
  <BR><BR>
    
  <h3 class="blockquote-title">Your unread messages</h3>
  
  <% @posts.each do |post| %>
    <% 
    leidos = @user.readed_posts
    if leidos == nil
      leidos = ""
    end
    cadena = " " + post.id.to_s + " "
    if leidos.include? cadena 
    else %>
      <BR>
      <blockquote>
        <p class="blockquote-content">
        <%= post.user.name %>: <BR>
        <%= post.text %> <BR>

        <%= form_for(post, url: post_update_read_post_path(post.id)) do |f| %>
            <%= hidden_field_tag(:value, post.id) %>
            <%= f.submit "Mark as read", class: "button small"%>
        <% end %>    
        </p>
      </blockquote>
    <% end %>
  <% end %>

<% else %>  
  <BR><BR>
  <h2>All posts</h2>
  <p id="notice"><%= notice %></p>
  <% @posts.each do |post| %>
    <blockquote>
      <p class="blockquote-content">
        <%= post.user.name %>: <BR>
        <%= post.text %> <BR>
      </p>
    </blockquote>
  <% end %>
<% end %>
  
    